* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

*, *:before, *:after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
    width: 100%;
}

body {
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(223, 229, 232, 1);; /* Modify as per your color scheme */
}

.logo img {
    max-width: 100%; /* Ensures the logo is responsive */
    height: auto;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    padding: 0 20px;
}

.nav-links li a {
    text-decoration: none;
    color: rgba(54, 61, 71, 1);
    text-transform: uppercase;
}

/* Styles specific to mobile and burger icon */
.burger {
    display: none; /* Burger is hidden on larger screens */
    cursor: pointer;
}

.burger div {
    width: 25px; /* Width of each line of the burger menu */
    height: 3px; /* Height of each line */
    background-color: #333;
    margin: 5px;
    transition: all 0.3s ease;
}

/*Footer styles*/
footer {
    background-color: rgba(54, 61, 71, 1);
    padding: 1%;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-nav {
    text-align: right;
}

.footer-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-nav ul li {
    display: inline-block; 
    margin-left: 20px;
}

.footer-nav ul li a{
    text-decoration: none;
    color: rgba(223, 229, 232, 1);
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.675rem;
}

.footer-nav ul li:first-child {
    margin-left: 0;
}

hr {
    border: none;
    border-top: 3px solid rgba(223, 229, 232, 1);
    margin: 2% 0;
}

.footer-copyright {
    text-align: right;
    font-size: 0.675rem;
    color: rgba(223, 229, 232, 1);
}

@media screen and (max-width:600px){

/*Navigation - Hamburger*/
.nav-links {
    position: absolute;
    right: 0;
    height: 0;
    top: 60px; /* Adjust based on your header's height */
    background-color: rgba(54, 61, 71, 1);
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    transition: height 0.5s ease;
}

.nav-links li {
    padding: 15px 10px;
    width: 100%;
    text-align: center;
}

.nav-links li a{
  color: rgba(223, 229, 232, 1);
}

.burger {
    display: block;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

/*Layout*/
main {
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-columns: 1fr;
    overflow-y: auto; 
}

/*landing section*/
.landing{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(223, 229, 232, 1);
    height: 100vh;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

h1{
    font-size: 2.25rem;
    font-weight: 300;
    color: rgba(54, 61, 71, 1);
    margin-top: 15%;
}
h2{
    font-size: 1.25rem;
    font-weight: 300;
    font-style: italic;
    color: rgba(54, 61, 71, 1);
    margin-top: 5%;
}
#intro{
    color: rgba(54, 61, 71, 1);
    margin: 5% 10% 5% 10%;
}

.scroll-down-arrow {
    bottom: 20px; /* Adjust as needed */
    left: 50%;
    width: 20px;
    height: 20px;
    border-left: 2px solid rgba(54, 61, 71, 1); /* Adjust arrow color and thickness */
    border-bottom: 2px solid rgba(54, 61, 71, 1); /* Adjust arrow color and thickness */
    transform: rotate(-45deg); /* Rotate the arrow to point downwards */
    margin-top: 10%;
    margin-bottom: 10%;
}

/*service section*/
.services {
    background-color: rgba(145, 178, 189, 1);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden; /* Ensures only one icon is visible and navigable */
}

#service {
    color: rgba(54, 61, 71, 1);
    margin: 5% 10%; /* Simplified margin setting */
}

#text-two{
    display: none;
}

.scroll-container {
    width: 100%;
    position: relative;
}

.icons-wrapper {
    display: flex;
    transition: transform 0.5s ease;
    will-change: transform; /* Optimizes animations */
}

.icon {
    min-width: 100%; /* Ensures each icon takes up the full width of the container */
    box-sizing: border-box;
    text-align: center;
    padding: 20px; /* Add padding for spacing */
}

.button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    color: rgba(54, 61, 71, 1);
    padding: 10px 20px;
    cursor: pointer;
    z-index: 100;
}

.button.prev {
    left: 10px;
}

.button.next {
    right: 10px;
}

.icon img {
    max-width: 100px; /* Control size of the icon images */
    height: auto;
}

.icon-title {
    font-size: 1.2em; /* Adjusted font size */
    text-transform: uppercase;
    font-weight: bold;
    color: rgba(54, 61, 71, 1);
    margin-top: 10px; /* Space between the icon and its title */
}

/*stories section*/
.stories {
    background-color: rgba(223, 229, 232, 1);
    width: 100%;
    overflow-x: hidden;
}
.title-2{
    font-style: normal;
    font-size: 24px; /* Larger font size for headings */
    color: rgba(54, 61, 71, 1);
    text-align: center; /* Center aligning the title */
    margin-bottom: 15px; /* Space below the title */
}
.stories-container {
    width: 100%;
    position: relative;
    overflow: hidden;
}
.stories-slider {
    display: flex;
    transition: transform 0.5s ease;
}
.story {
    min-width: 100%; /* Each story takes full width of the container */
    box-sizing: border-box;
    padding: 10%;
    text-align: center;
    background-color: rgba(242, 242, 242, 1);
}
.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); /* Aligns the button vertically to the middle */
    border: none;
    background-color: transparent;
    color: rgba(54, 61, 71, 1);
    padding: 10px 20px;
    cursor: pointer;
    z-index: 100;
}
.nav-button.prev {
    left: 0;
    transform: translateY(-50%) translateX(0); /* Aligns button inside the container */
}
.nav-button.next {
    right: 0;
    transform: translateY(-50%) translateX(0); /* Aligns button inside the container */
}
.industry{
    border: 2px solid rgba(54, 61, 71, 1);
    border-radius: 0;
    padding: 2% 2%;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color: rgba(54, 61, 71, 1);
    margin-top: 5%;
    background-color: transparent;
    display: block;
    margin-left: 25%;
    margin-right: 25%;
}

/*testimonials section*/
.testimonials {
    background-color: #91B2BD; 
    background-image: url(images/sea.png);
    position: relative;
    width: 100%;
    overflow: hidden;
    text-align: center; 
}

.testimonials-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.testimonials-slider {
    display: flex;
    transition: transform 0.5s ease; /* Smooth transition for the sliding effect */
    will-change: transform; /* Optimizes the animations */
}

.testimonial {
    min-width: 100%; /* Each testimonial takes up the full width of the container to ensure only one is visible at a time */
    padding: 10% 20% 10% 20%;
    box-sizing: border-box; /* Includes padding and border in the width and height calculations */
}
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); /* Aligns the button vertically to the middle */
    border: none;
    background-color: transparent;
    color: rgba(242, 242, 242, 1);
    padding: 10px 20px;
    cursor: pointer;
    z-index: 100; /* Ensures the arrows are clickable and visible on top of other content */
}

.arrow.prev {
    left: 10px; /* Positions the 'previous' arrow on the left side */
}

.arrow.next {
    right: 10px; /* Positions the 'next' arrow on the right side */
}

.testimonial-text{
    background-color: rgba(242, 242, 242, 1);
    color: rgba(54, 61, 71, 1);
    padding: 5% 2% 5% 2%;
    font-style: italic;
}

/*Alasdair section*/
.Alasdair {
    background-color: rgba(145, 178, 189, 1); 
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content vertically */
}

.profile-photo {
    margin-bottom: 2%; /* Space below the photo */
}

.linkedin-icon {
    margin-bottom: 2%; /* Space below the icon before text */
}

.profile-details p {
    text-align: center; /* Center-align text */
    padding: 10% 10% 10% 10%;
}

.profile-details {
    background-color: rgba(242, 242, 242, 1);
    margin: 10% 10% 10% 10%;
}

/*contact section*/
.contact {
    background-color: rgba(223, 229, 232, 1);
    padding: 20px;
    color: rgba(54, 61, 71, 1);
    box-sizing: border-box;
}

.contact p {
    text-align: center; /* Center aligning the paragraph text */
    margin-bottom: 20px; /* Space below the paragraph */
    line-height: 1.6; /* Increased line height for readability */
}

.contact-details {
    margin-bottom: 20px; /* Space above the form */
}

.contact-info {
    display: flex;
    align-items: center; /* Vertically aligns the icon with the text */
    justify-content: center; /* Horizontally center content */
    margin-bottom: 10px; /* Space between contact details */
}

.contact-icon {
    width: 30px; /* Size of the icons */
    height: 30px; /* Maintaining aspect ratio */
    margin-right: 10px; /* Space between icon and text */
}

.contact-form {
    background-color: rgba(145, 178, 189, 1); 
    padding: 15px;
    border-radius: 8px; /* Rounded corners for the form */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow for form */
}

.form-field {
    margin-bottom: 15px; /* Space between form fields */
}

.form-field label {
    display: block; /* Ensures the label is on a new line */
    margin-bottom: 5px; /* Space between label and input field */
}

input, textarea {
    width: 100%;
    background-color: transparent; 
    border: none; 
    border-bottom: 2px solid rgba(54, 61, 71, 1); 
    outline: none; 
    padding: 10px 0; 
    color: rgba(54, 61, 71, 1);
}

.submit-button {
    border: 3px solid rgba(54, 61, 71, 1);
    border-radius: 0;
    padding: 2% 2%;  /* You might consider changing percentage padding to fixed padding for more consistent rendering */
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: rgba(54, 61, 71, 1);
    margin-top: 5%; /* Keeps existing top margin */
    background-color: transparent;
    display: block; /* Ensures the button is a block-level element */
    width: auto; /* Adjusts the width automatically based on content size */
    margin-left: auto; /* Automatically calculates left margin */
    margin-right: auto; /* Automatically calculates right margin */
}


/*CTA links*/
.button-container {
    text-align: center; /* Center-align the contents */
    padding: 20px; /* Optional: add padding for spacing around the button */
    max-width: 50%;
    margin: 0 auto; /* Center the container horizontally */
}

.learn {
text-transform: uppercase;
background-color: rgba(54, 61, 71, 1);
color: rgba(223, 229, 232, 1);
padding: 10px 20px; 
border-radius: 20px;
display: block;
margin: auto auto; /* Center the button horizontally */
font-weight: bold;
text-decoration: none;
}

#consult {
    border: 3px solid rgba(54, 61, 71, 1);
    border-radius: 0;
    padding: 2% 2%;
    text-transform: uppercase; 
    font-weight: bold; 
    text-align: center;
    text-decoration: none;
    color: rgba(54, 61, 71, 1);
    margin-top: 5%;
    margin-bottom: 5%;
}


}

@media screen and (min-width:601px) and (max-width:900px){
/*Layout*/
main {
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-columns: 1fr;
    overflow-y: auto; 
}

/*landing section*/
.landing{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(223, 229, 232, 1);
    height: 100vh;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

h1{
    font-size: 4rem;
    font-weight: 300;
    color: rgba(54, 61, 71, 1);
    margin-top: 15%;
}
h2{
    font-size: 1.875rem;
    font-weight: 300;
    font-style: italic;
    color: rgba(54, 61, 71, 1);
    margin-top: 5%;
}
#intro{
    color: rgba(54, 61, 71, 1);
    margin: 5% 10% 5% 10%;
    font-size: 1.25rem;
}

.scroll-down-arrow {
    bottom: 20px; /* Adjust as needed */
    left: 50%;
    width: 20px;
    height: 20px;
    border-left: 2px solid rgba(54, 61, 71, 1); /* Adjust arrow color and thickness */
    border-bottom: 2px solid rgba(54, 61, 71, 1); /* Adjust arrow color and thickness */
    transform: rotate(-45deg); /* Rotate the arrow to point downwards */
    margin-top: 10%;
    margin-bottom: 10%;
}

/*service section*/
.services {
    background-color: rgba(145, 178, 189, 1);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden; /* Ensures only one icon is visible and navigable */
}

#service {
    display: none;
}

#text-two{
    color: rgba(54, 61, 71, 1);
    margin: 5% 10%;
    font-size: 1.25rem;
}

.icons-wrapper {
    display: flex;
    justify-content: space-around; /* This will distribute the space evenly between the icons */
    align-items: center; /* This ensures the icons are aligned centrally vertically */
    flex-wrap: nowrap; /* Prevents the icons from wrapping onto multiple lines */
    padding: 20px 0; /* Gives some padding around the icons */
}
.icon {
    flex: 1; /* Each icon will take equal width */
    text-align: center; /* Centers the text below the icon */
}

.icon img {
    max-width: 100%; /* Ensures images do not overflow their container */
    height: auto; /* Keeps the image aspect ratio intact */
}

.icon-title {
    font-size: 1.2em; /* Adjusted font size */
    text-transform: uppercase;
    font-weight: bold;
    color: rgba(54, 61, 71, 1);
    margin-top: 10px; /* Space between the icon and its title */
}

.button.prev, 
.button.next {
    display: none;
}

/*stories section*/
.stories {
    background-color: rgba(223, 229, 232, 1);
    height: auto;
    width: 100%;
    overflow-x: hidden;
    padding-bottom: 20px; 
}

.title-2 {
    font-style: normal;
    font-size: 24px; 
    color: rgba(54, 61, 71, 1);
    text-align: center; 
    margin: 30px 0 20px; 
}

.stories-slider {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px; 
}

.story {
    display: grid;
    grid-template-columns: 30% 1fr; 
    align-items: start; 
    overflow: hidden; 
    padding: 5%; 
}
.story img {
    width: 100%;
    height: auto;
    grid-row: 1;
    grid-column: 1;
}
.industry{
    grid-row: 1;
    grid-column: 2;
    border: 2px solid rgba(54, 61, 71, 1);
    border-radius: 0;
    padding: 1% 1%;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color: rgba(54, 61, 71, 1);
    background-color: transparent;
    display: block;
    margin-left: 35%;
    margin-right: 35%;

}
.story p:nth-of-type(2){
    grid-row: 1;
    grid-column: 2;
    margin-top: 10%;
    padding: 5% 5%;
    font-size: 1.25rem;
}
.nav-button {
    display: none;
}

/*testimonials section*/
.testimonials {
    background-color: #91B2BD; 
    background-image: url(images/sea.png);
    position: relative;
    width: 100%;
    overflow: hidden;
    text-align: center; 
}

.testimonials-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.testimonials-slider {
    display: flex;
    transition: transform 0.5s ease; /* Smooth transition for the sliding effect */
    will-change: transform; /* Optimizes the animations */
}

.testimonial {
    min-width: 100%; /* Each testimonial takes up the full width of the container to ensure only one is visible at a time */
    padding: 10% 20% 10% 20%;
    box-sizing: border-box; /* Includes padding and border in the width and height calculations */
}
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); /* Aligns the button vertically to the middle */
    border: none;
    background-color: transparent;
    color: rgba(242, 242, 242, 1);
    padding: 10px 20px;
    cursor: pointer;
    z-index: 100; /* Ensures the arrows are clickable and visible on top of other content */
}

.arrow.prev {
    left: 10px; /* Positions the 'previous' arrow on the left side */
}

.arrow.next {
    right: 10px; /* Positions the 'next' arrow on the right side */
}

.testimonial-text{
    background-color: rgba(242, 242, 242, 1);
    color: rgba(54, 61, 71, 1);
    padding: 5% 2% 5% 2%;
    font-style: italic;
}

/*Alasdair section*/
.Alasdair {
    background-color: rgba(145, 178, 189, 1); 
    padding: 20px; /* Padding around the section *//
    margin: 20px; /* Margin around the section */
}

.profile-container {
    display: flex; 
    flex-direction: row;
    justify-content: center;
}

.profile-photo {
    width: 40%;
    height: auto;
}

.linkedin-icon {
    position: absolute; 
    margin-top: -50px;
    margin-left: 350px;
}

.profile-details {
    width: 50%;
    height: auto;
    padding: 15px; /* Padding inside the text area */
    border-radius: 4px; /* Rounded corners for the text box */
}

/*contact section*/
.contact {
    background-color: rgba(223, 229, 232, 1);
    width: 100%;
    padding: 20px;
    color: rgba(54, 61, 71, 1);
    box-sizing: border-box;
}

.contact p {
    text-align: center; /* Center aligning the paragraph text */
    margin-bottom: 20px; /* Space below the paragraph */
    line-height: 1.6; /* Increased line height for readability */
}

.contact-details {
    margin-bottom: 20px; /* Space above the form */
}

.contact-info {
    display: flex;
    align-items: center; /* Vertically aligns the icon with the text */
    justify-content: center; /* Horizontally center content */
    margin-bottom: 10px; /* Space between contact details */
}

.contact-icon {
    width: 30px; /* Size of the icons */
    height: 30px; /* Maintaining aspect ratio */
    margin-right: 10px; /* Space between icon and text */
}

.contact-form {
    background-color: rgba(145, 178, 189, 1); 
    padding: 2% 2%;
    margin: 2% 10% 2% 10%;
}

.form-field {
    margin-bottom: 15px; /* Space between form fields */
}

.form-field label {
    display: block; /* Ensures the label is on a new line */
    margin-bottom: 5px; /* Space between label and input field */
}

input, textarea {
    width: 100%;
    background-color: transparent; 
    border: none; 
    border-bottom: 2px solid rgba(54, 61, 71, 1); 
    outline: none; 
    padding: 10px 0; 
    color: rgba(54, 61, 71, 1);
}

.submit-button {
    border: 3px solid rgba(54, 61, 71, 1);
    border-radius: 0;
    padding: 2% 2%;  /* You might consider changing percentage padding to fixed padding for more consistent rendering */
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: rgba(54, 61, 71, 1);
    margin-top: 5%; /* Keeps existing top margin */
    background-color: transparent;
    display: block; /* Ensures the button is a block-level element */
    width: auto; /* Adjusts the width automatically based on content size */
    margin-left: auto; /* Automatically calculates left margin */
    margin-right: auto; /* Automatically calculates right margin */
}


/*CTA links*/
.button-container {
    text-align: center; /* Center-align the contents */
    padding: 20px; /* Optional: add padding for spacing around the button */
    max-width: 50%;
    margin: 0 auto; /* Center the container horizontally */
}

.learn {
    text-transform: uppercase;
    background-color: rgba(54, 61, 71, 1);
    color: rgba(223, 229, 232, 1);
    padding: 10px 20px; 
    border-radius: 20px;
    margin: auto auto; /* Center the button horizontally */
    font-weight: bold;
    text-decoration: none;
}

#consult {
    border: 3px solid rgba(54, 61, 71, 1);
    border-radius: 0;
    padding: 2% 2%;
    text-transform: uppercase; 
    font-weight: bold; 
    text-align: center;
    text-decoration: none;
    color: rgba(54, 61, 71, 1);
    margin-top: 5%;
}

}

@media screen and (min-width:901px){
/*Layout*/
main {
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-columns: 1fr;
    overflow-y: auto; 
}

/*landing section*/
.landing{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(223, 229, 232, 1);
    height: 100vh;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

h1{
    font-size: 4rem;
    font-weight: 300;
    color: rgba(54, 61, 71, 1);
    margin-top: 5%;
}
h2{
    font-size: 1.875rem;
    font-weight: 300;
    font-style: italic;
    color: rgba(54, 61, 71, 1);
    margin-top: 1%;
}
#intro{
    color: rgba(54, 61, 71, 1);
    margin: 5% 10% 5% 10%;
    font-size: 1.25rem;
}

.scroll-down-arrow {
    width: 50px;
    height: 50px;
    border-left: 2px solid rgba(54, 61, 71, 1);
    border-bottom: 2px solid rgba(54, 61, 71, 1);
    transform: rotate(-45deg);
    margin-top: 10%;
}

/*service section*/
.services {
    background-color: rgba(145, 178, 189, 1);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden; /* Ensures only one icon is visible and navigable */
}

#service {
    display: none;
}

#text-two{
    color: rgba(54, 61, 71, 1);
    margin: 5% 10%;
    font-size: 1.25rem;
}

.icons-wrapper {
    display: flex;
    justify-content: space-around; /* This will distribute the space evenly between the icons */
    align-items: center; /* This ensures the icons are aligned centrally vertically */
    flex-wrap: nowrap; /* Prevents the icons from wrapping onto multiple lines */
    padding: 20px 0; /* Gives some padding around the icons */
}
.icon {
    flex: 1; /* Each icon will take equal width */
    text-align: center; /* Centers the text below the icon */
}

.icon img {
    max-width: 100%; /* Ensures images do not overflow their container */
    height: auto; /* Keeps the image aspect ratio intact */
}

.icon-title {
    font-size: 1.2em; /* Adjusted font size */
    text-transform: uppercase;
    font-weight: bold;
    color: rgba(54, 61, 71, 1);
    margin-top: 10px; /* Space between the icon and its title */
}

.button.prev, 
.button.next {
    display: none;
}


/*stories section*/
.stories {
    background-color: rgba(223, 229, 232, 1);
    height: auto;
    width: 100%;
    overflow-x: hidden;
    padding-bottom: 20px; 
}

.title-2 {
    font-style: normal;
    font-size: 24px; 
    color: rgba(54, 61, 71, 1);
    text-align: center; 
    margin: 30px 0 20px; 
}

.stories-slider {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content:space-evenly;
}

.story {
    display: flex;
    flex-direction: column;
    gap: 2%;
    width: 25%;
    justify-items: center;
}

.story img{
    width: 150px;
    height: 150px;
}

.industry{
    border: 2px solid rgba(54, 61, 71, 1);
    border-radius: 0;
    padding: 1% 1%;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color: rgba(54, 61, 71, 1);
    background-color: transparent;
    display: block;
    margin-left: 25%;
    margin-right: 25%;

}
.story p:nth-of-type(2){
    grid-row: 1;
    grid-column: 2;
    padding: 5% 5%;
    font-size: 1.25rem;
}
.nav-button {
    display: none;
}

/*testimonials section*/
.testimonials {
    background-color: #91B2BD; 
    background-image: url(images/sea.png);
    width: 100%;
    padding: 5% 5% 5% 5%;
}

.testimonials-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.testimonials-slider {
    display: flex;
    flex-direction: row;
    width: 33.33%;
    justify-content: space-between;
}

.testimonial {
    box-sizing: border-box; /* Includes padding and border in the width and height calculations */
}
.arrow {
    display: none;
}

.testimonial-text{
    background-color: rgba(242, 242, 242, 1);
    color: rgba(54, 61, 71, 1);
    padding: 5% 2% 5% 2%;
    font-style: italic;
}

/*Alasdair section*/
.Alasdair {
    background-color: rgba(145, 178, 189, 1); 
    padding: 20px; /* Padding around the section *//
    margin: 20px; /* Margin around the section */
}

.profile-container {
    display: flex; 
    flex-direction: row;
    justify-content: center;
}

.profile-photo {
    width: 20%;
    height: auto;
}

.linkedin-icon {
    position: absolute; 
    margin-top: -50px;
    margin-left: 350px;
}

.profile-details {
    width: 50%;
    height: auto;
    padding: 15px; /* Padding inside the text area */
    border-radius: 4px; /* Rounded corners for the text box */
}

/*contact section*/
.contact {
    background-color: rgba(223, 229, 232, 1);
    width: 100%;
    padding: 20px;
    color: rgba(54, 61, 71, 1);
    box-sizing: border-box;
}

.contact p {
    text-align: center; /* Center aligning the paragraph text */
    margin-bottom: 20px; /* Space below the paragraph */
    line-height: 1.6; /* Increased line height for readability */
}

.contact-details {
    margin-bottom: 20px; /* Space above the form */
}

.contact-info {
    display: flex;
    align-items: center; /* Vertically aligns the icon with the text */
    justify-content: center; /* Horizontally center content */
    margin-bottom: 10px; /* Space between contact details */
}

.contact-icon {
    width: 30px; /* Size of the icons */
    height: 30px; /* Maintaining aspect ratio */
    margin-right: 10px; /* Space between icon and text */
}

.contact-form {
    background-color: rgba(145, 178, 189, 1); 
    padding: 2% 2%;
    margin: 2% 10% 2% 10%;
}

.form-field {
    margin-bottom: 15px; /* Space between form fields */
}

.form-field label {
    display: block; /* Ensures the label is on a new line */
    margin-bottom: 5px; /* Space between label and input field */
}

input, textarea {
    width: 100%;
    background-color: transparent; 
    border: none; 
    border-bottom: 2px solid rgba(54, 61, 71, 1); 
    outline: none; 
    padding: 10px 0; 
    color: rgba(54, 61, 71, 1);
}

.submit-button {
    border: 3px solid rgba(54, 61, 71, 1);
    border-radius: 0;
    padding: 2% 2%;  /* You might consider changing percentage padding to fixed padding for more consistent rendering */
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: rgba(54, 61, 71, 1);
    margin-top: 5%; /* Keeps existing top margin */
    background-color: transparent;
    display: block; /* Ensures the button is a block-level element */
    width: auto; /* Adjusts the width automatically based on content size */
    margin-left: auto; /* Automatically calculates left margin */
    margin-right: auto; /* Automatically calculates right margin */
}


/*CTA links*/
.button-container {
    text-align: center; /* Center-align the contents */
    padding: 2%; /* Optional: add padding for spacing around the button */
    max-width: 50%;
    margin: 0 auto; /* Center the container horizontally */
}

.learn {
    text-transform: uppercase;
    background-color: rgba(54, 61, 71, 1);
    color: rgba(223, 229, 232, 1);
    padding: 10px 20px; 
    border-radius: 20px;
    margin: auto auto; /* Center the button horizontally */
    font-weight: bold;
    text-decoration: none;
}

#consult {
    border: 3px solid rgba(54, 61, 71, 1);
    border-radius: 0;
    padding: 2% 2%;
    text-transform: uppercase; 
    font-weight: bold; 
    text-align: center;
    text-decoration: none;
    color: rgba(54, 61, 71, 1);
    margin-top: 2%;
    margin-bottom: 5%;
}

}